* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    padding: 20px;
}

.heading {
    margin: 24px 0px;
}

.languages {
    max-width: 250px;
    width: 100%;
    margin-bottom: 16px;
}

.lang_heading {
    margin-bottom: 5px;
}


input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: solid 2px #BBB;
}

div {
    margin: 10px 0px;
}

button {
    padding: 10px;
    background-color: #c42020;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}